@tailwind base;
@tailwind components;
@tailwind utilities;

.search_cont{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: none;
}



.muscle_search:hover .search_cont{
    display: block;

}